<div class="footer">
  <div class="footer-content">
    <div class="footer-files">
      <a href="assets/privacy-policy.pdf"  download="Privacy Policy" class="text-white">Privacy Policy</a>
      <a href="assets/terms-and-conditions.pdf"  download="Terms of use" class="text-white">Terms of Use</a>
    </div>
    <span class="text-white">2021 All rights reserved</span>
    <div class="footer-icon">
      <fa-icon [icon]="faDiceD20" size="3x" (click)="redirectTo('dice')"></fa-icon>
      <fa-icon [icon]="faDiceD6" size="3x"(click)="redirectTo('square')"></fa-icon>
      <fa-icon [icon]="faCube" size="3x"(click)="redirectTo('theSquare')"></fa-icon>
    </div>
  </div>
</div>
