<div class="about-us-container">
  <div class="about-us-side-card">
    <mat-card class="about-us-card-height">
      <div class="avatar"><img [src]="firstFace" class="avatar-img" /></div>
      <mat-card-content class="text-center">
        I like good food, good movies, serendipity and the little pleasures in
        life. I’ll go missing for a few hours to curl up in my reading corner.
        <br />
        <span class="bold">Anna, 21 y.o </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="about-us-center-card">
    <mat-card class="about-us-card-height">
      <div class="avatar"><img [src]="secondFace" class="avatar-img" /></div>
      <mat-card-content class="text-center">
        I have already started to work because HR ladies require a lot of
        experience as junior developer
        <br />
        <span class="bold">Amin, 5 y.o</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="about-us-side-card">
    <mat-card class="about-us-card-height">
      <div class="avatar"><img [src]="thirdFace" class="avatar-img" /></div>
      <mat-card-content class="text-center">
        I was a reader. I’ve been a reader. I am a reader. And now I am very
        nearsighted and I need glasses to survive.
        <br />
        <span class="bold">Jackson, 24 y. o</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
